# -*- coding: utf-8 -*-
"""

@author: Maharsh / Adeline

"""
#Labels netTime updateTime iteration r egamma obs act dist pktNum beh_mode  mode_duration vid_count prediction era learn_prediction use_prediction CliffL CliffR CliffFL CliffFR Distance Rotate IRbyte WheelBump DriveReq DriveCmd Voltage Current Overcurrent Button image
import os
import pylab as P
from matplotlib import pyplot as PLT
print (os.getcwd())c#os.chdir("dropbox");
logfileLocation = "./logfiles/nohumanrobot-y2014-m08-d06-h16-m01-s14.logfile";


distance = P.loadtxt(logfileLocation, usecols = [7], skiprows = 5)
time = P.loadtxt(logfileLocation, usecols = [0], skiprows = 5)
era = P.loadtxt(logfileLocation, usecols = [13], skiprows = 5)

totalDistance = 0


#for i in range(len(distance)):
#    print ("Distance: " + str(distance[i]) + "mm\nTime: " + str(time[i]) + "s" + "Era: " + str(era[i]) + "\n\n")

for i in range(len(era)):
    if (era[i] == 5):
        totalDistance += distance[i]

print("Total Distance Travelled: " + str(totalDistance / 1000))
#P.plot(time, distance)
#P.plot(time, era)
#P.show()
    
    
